.Fullform{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(195, 212, 245);
}

#formHeader{

    text-align: center;
}
#submit{

    /* background-color: blue;
    color: aliceblue;
    margin-left: 140px; */
}